.todo-list {
    width: 100%;
    padding: 0;
    margin: 10px 0 0 0;
}

.todo-item {
    list-style: none;
    width: 100%;
    margin: 10px 0 10px 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.todo-title {
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 5px;
    flex: 1;
}

.todo-title.completed {
    text-decoration: line-through;
    opacity: 0.6;
    color: #999;
}
.todo-delete-button {
    border: 1px solid #ccc;
    border-radius: 5px;
}
